body{
    width: 100%;
    height: 100%;
    margin: 0%
}

/* En-tête, titre + logo */

header{
    background-color: #266C85;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
h1{
    margin-left: 20%;
    font-family: Merriweather;
    font-size: 5.625rem;
    color: #CDCDCD;
}

/* séparation par image */

.background-img1{
    width: 100%;

}

/*disposition des widgets */

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2{
    font-family: Merriweather;
    font-weight: bold;
    text-align: center;
    font-size: 2.25rem;
    color: #266C85;
}
#partie-1{
    align-self: center;
    text-align: center;
    display: flex;
    background-color: #CDCDCD;
    border-radius: 1.875rem;
    width: 98%;
    height: 35rem;
    margin-top: 1%;
}
.partie-1{
    flex-direction: column;
}


/* 

                widget météo 
                
                
                                        */
                                        

.meteo{
    margin-top: 3.875rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 35%;
    height: 100%;
    margin-left: -5%;
}
.background-meteo{
    background-color: #FFFFFF;
    width: 21.875rem;
    height: 20rem;
    border-radius: 1.875rem;
    margin-left: 20%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.separation-meteo{
    margin-top: 45%;
    border-color: #0296EA;
}
.ville{
    font-size: Merriweather;
    font-size: 1.563rem;
    font-weight: bold;
}

/* 

                widget Horloge 
                
                
                                        */


.horloge{
    margin-top: 4.563rem;
    width: 25%;
    height: 10%;
}
.background-horloge{
    margin-left: 20%;
    background-color: #FFFFFF;
    width: 21.343rem;
    height: 20rem;
    border-radius: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cadran{
    position: absolute;
    height: 48%;
}
.rond{
    background-color: #000000;
    width: 16.5vw;
    height: 35vh;
    border-radius: 100%;
}
.clock {
    border-radius: 50%;
    background: rgb(0, 0, 0);
    border: 5px solid rgb(197, 197, 197);
    box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.wrap {
    position: relative;
    width: 250px;
    height: 298px
}
.minute, .heure {
    position: absolute;
    height: 100px; width: 6px;
    margin: auto;
    top: -33%; left: 55px;	bottom: 0; right: 0;
    transform-origin: bottom center;
    transform: rotate(0deg);
    box-shadow: 0 0 10px 0 rgba(190, 190, 190, 0.4);
    background: rgb(255, 255, 255);
}
.minute {
    position: absolute;
    height: 130px;
    width: 4px;
    top: -45%;
    left: 55px;
    box-shadow: 0 0 10px 0 rgba(170, 170, 170, 0.4);
    transform: rotate(90deg);
}
.seconde {
    position: absolute;
    height: 120px;
    width: 2px;
    margin: auto;
    top: -40%;
    left: 55px;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    background: #ff4b3e;
    transform-origin: bottom center;
    transform: rotate(180deg);
}
.dot {
    position: absolute;
    top: 0px;
    left: 55px;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    border: 2px solid #1b1b1b;
    border-radius: 50%;
    margin: auto;
}
/* 

                widget Générateur de mots de passe 
                
                
                                                                 */


.generateur-mdp{
    margin-top: 4.438rem;
    margin-left: 8%;
}
.background-generateur{
    background-color: #266C85;
    width: 25.75rem;
    height: 18.875rem;
    border-radius: 0.938rem;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.text-generateur{
    background-color: #C4C4C4;
    margin-top: 7%;
    width: 21.625rem;
    height: 5.75rem;
    border-radius: 0.938rem;
}
.result-generateur{
    background-color: #C4C4C4;
    margin-top: 7%;
    width: 20.313rem;
    height: 3.25rem;
    border-radius: 0.938rem;
}
.buttons-generateur{
    width: 50%;
    height: 15%;
    display: flex;
    justify-content: space-around;
}
.button-valider-generateur{
    background-color: #C4C4C4;
    width: 5.313rem;
    height: 2.625rem;
    border-radius: 0.938rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.063rem;
    text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
.button-autre-generateur{
    background-color: #C4C4C4;
    width: 5.313rem;
    height: 2.625rem;
    border-radius: 0.938rem;
    font-family: Merriweather;
    font-weight: bold;
    font-size: 1.063rem;
}

/* 

                Section 2
                
                
                                        */


#partie-2{
    display: flex;
    flex-direction: row;
    background-color: #CDCDCD;
    border-radius: 1.875rem;
    width: 98%;
    height: 39.063rem;
    margin-top: 1%;
    align-self: center;
}
.partie-2{
    margin-bottom: 5%;
    margin-top: 5%;
}

/* 

                widget calculatrice 
                
                
                                                 */


.calculatrice{
    align-self: flex-start;
    margin-left: 10%;
}
.background-calculatrice{
    background-color: #012B43;
    display: flex;
    flex-direction: column;
    width: 24.063rem;
    height: 31.25rem;
    border-radius: 1.875rem;
    padding: 3%;
}
.affichage-calculatrice{
    align-self: center;
    text-align: right;
    width: 80%;
    height: 5.438rem;
    margin-top: 5%;
    background-color: #C4C4C4;
    font-family: Montserrat;
    font-size: 5rem;
}
.boutons{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(5, 75px);
    align-self: center;
}
.boutons button{
    margin-top: 40%;
    margin-left: 9%;
}
#C{
    width: 3.75rem;
    height: 3.75rem;
    background-color: #A60000;
    font-family: Montserrat;
    font-size: 2.813rem;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 0.938rem;
}
.bouton1{
    width: 3.75rem;
    height: 3.75rem;
    background-color: #C4C4C4;
    font-family: Montserrat;
    font-size: 2.813rem;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 0.938rem;
}
.bouton2{
    width: 3.75rem;
    height: 3.75rem;
    background-color: #266C85;
    font-family: Montserrat;
    font-size: 2.813rem;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 0.938rem;
}
.bouton3{
    width: 3.75rem;
    height: 3.75rem;
    background-color: #266C85;
    font-family: Montserrat;
    font-size: 2.813rem;
    color: #CBDC0B;
    font-weight: bold;
    border-radius: 0.938rem;
}


/* 

                widget Juste-prix
                
                
                                                 */
.juste-prix{
    align-self: flex-end;
    padding-left: 25%;
    padding-bottom: 2%;
}
.shadow{
    text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
.background-juste-prix{
    background-color: #266C85;
    display: flex;
    flex-direction: row;
    width: 42.125rem;
    height: 31.25rem;
    border-radius: 0.938rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.guess{
    height: 100%;
    width: 100%;
    font-family: Montserrat;
    font-size: 1.563rem;
    text-align: center;
    font-weight: 500;
}

/* 

                section 3
                
                
                                        */


#partie-3{
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: #CDCDCD;
    border-radius: 1.875rem;
    width: 98%;
    height: 35rem;
    margin-top: 1%;
    align-self: center;
}

/* signature */

.copyright{
    text-align: right;
    font-family: Merriweather;
    font-size: 1.563rem;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 1%;
}